.resolution {
  margin-top: 2em;
  width: 1200px;
  display: flex;
}

.resolution h2{
  width: 200px;
  height: 40px;justify-content: center;
  background-color: #fca311;
  color: #14213d;
  border-radius: 50px;
  padding: .5em .8em;
  font-size: 2em;
}

.resolution p {
  font-size: 1.2em;
}

.resolution img {
  width: 400px;
  box-shadow: 3px 3px 10px #14213dd2;
}
