
.question {
   
}

.question_h1 {
  color: #000000;
  background-color: #fca311;
  border-radius: 50px;
  padding: 0.5em;
  font-size: 2em;
  margin: 1em 1em 3em 1em;
  /* margin-bottom: 3em; */
  justify-content: center;
  text-align: center;
}

.question_card {
  display: flex; 
}