.question {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.question h1{
  width: 150px;
  background-color: #14213d;
  color: #fca311;
  border-radius: 15px;
  padding: .3em .5em;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: .8em;
}

.question p {
  font-size: 1.2em;
  margin-bottom: 1em;
}

.question img {
  width: 450px;
  box-shadow: 3px 3px 10px #14213dd2;
}

.btn {
    background-color: #14213d;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #14213dd2;
    text-decoration: none;
    transition: 0.5s;
    color: #fca311;
    padding: 0.5em 1em;
    width: 150px;
    margin-top: 2em;
}
  
.btn:hover {
    color: #EDE7E3;
}

.img {
  display: flex;
  flex: content;
}