.response {
  margin-top: 2em;
  display: inline-block;
}

.response h4 {
  width: 150px;
  height: 25px;
  text-align: center;
  color: #fca311;
  background-color: #14213d;
  border-radius: 50px;
  padding: .3em .5em;
  font-size: 1em;
  margin-bottom: 1em;
}


.response p {
  width: 1400px;
  height: auto;
}
