.btn {
  background-color: #14213d;
  border-radius: 15px;
  box-shadow: 3px 3px 6px #14213dd2;
  text-decoration: none;
  transition: 0.5s;
  color: #fca311;
  padding: 0.5em 1em;
}

.btn:hover {
  color: #EDE7E3;
}