.card {
  display: inline-table;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 150px;
  height: 110px;
  background-color: #fca311;
  margin: 0.5em;
  padding: 1em;
  border: 2px solid #14213d;
  border-radius: 15px;
  text-decoration: none;
}

.card h3 {
  color: #14213d;
  margin-bottom: 1em;
  font-weight: bolder;
}

.card p {
  color: #14213d;
  font-weight: 400;
}

.card:hover {
  background-color: #14213d;
  border: 2px solid #fca311;
  color: #fca311;
  /* transition: all 0.3s; */
  box-shadow: 3px 3px 10px #14213d;
}

.card:hover h3 {
  color: #fca311;
}

.card:hover p {
  color: #fca311;
  font-weight: 400;
}

@media (max-width: 650px) {
  .card {
    display: inline-table;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100px;
    height: 70px;
    background-color: #fca311;
    margin: 0.2em;
    padding: .5em;
    border: 2px solid #14213d;
    border-radius: 15px;
    text-decoration: none;
  }

  .card h3 {
    color: #14213d;
    margin-bottom: 1em;
    font-weight: bolder;
    font-size: .8em;
  }

  .card p {
    color: #14213d;
    font-weight: 400;
    font-size: .6em;
  }  

}