.container {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*
Cores:

000000
14213d
fca311
e5e5e5
ffffff

ou

16697a
489fb5
82c0cc
ede7e3
ffa62b

ou 

353535
3c6e71
ffffff
d9d9d9
284b63

*/