.footer {
  margin: 0em auto;
  padding: 1em;
  background-color: #14213d;
  text-align: center;
}

.social {
  display: flex;
  justify-content: center;
  list-style: none;
}

.social li {
  margin: 0 1em;
}

.social svg {
  color: #fca311;
  width: 25px;
  height: 25px;
}

.social svg:hover {
  color: #ffffff;
  cursor: pointer;
}

.copy {
  color: #ffffff;
  margin: .5em;
}

.info {
  color: #ffffff;
  font-size: 10pt;
  margin-bottom: 1em;
  margin-top: .5em;
}